body
{
    margin: 0;  
    padding: 0;
    background-color:  rgb(201, 196, 196);
    font-size: 18px;
}
.navbar
{
    background-color:#ff7200;
    font-family: 'Saira Condensed', sans-serif;
    color: white;
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
}
.navbar-brand
{
    font-size: 20px;
    font-family: 'Saira Condensed', sans-serif;
}
.container{
    width: 100%;
    height: 1000px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    background-color: white;
    font-family: 'Saira Condensed', sans-serif;
}
a{
    color: skyblue;
    
   
}
.h1{
    
    font-size: 30px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 20px;
}
.pict{
    padding: 20px;
    text-align: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
}
img{
    cursor: pointer;
}
.form{
padding: 20px;
}
.img-thumbnail{
    float: center;
}


.footer
 {
    padding: 40px;
    
    
    text-align: center;
    background-color:#85d9f7;
    color: white;
    font-size: 10px;
    font-family: 'Noto Sans JP', sans-serif;
    box-shadow: rgba(60, 64, 67, 0.3) 0 1px 2px 0,
    rgba(60, 64, 67, 0.15) 0 1px 3px 1px;
}

@media only screen and (max-width:980px){
   
    .container{
        
        width: 100%;
    }
}
@media only screen and (max-width:768px){

    .container{
        
        width: 100%;
    }
}
@media only screen and (max-width:640px){
    
    .container{
       width: 100%;
    }
    .pict{
        width: 100%;
         text-align: center;
    }
    
}
